/* Body CSS */
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Header CSS Start */
#header{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(img/home/headerBackground.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* User Box CSS */
.user-box{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

/* User Box Image CSS */
.user-box img{
    border-radius: 50%;
    width: 250px;
    border: 2px solid #000000;
}

/* User Box h1 Text CSS */
.user-box h1{
    color: #fff;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

/* User Box p Text CSS */
.user-box p{
    color: #fff;
    text-align: center;
}

/* Scroll Button CSS */
.scroll-btn{
    bottom: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #fff;
    padding: 10px 10px 20px;
    border-radius: 30px;
}

/* Scroll Bar Span CSS */
.scroll-bar span{
    border: 2px solid #fff;
    font-size: 10px;
    border-radius: 30px;
}

/* Scroll Bar Animation CSS */
.scroll-bar{
    animation: mover 1s infinite alternate;
}
@keyframes mover{
    0%{transform: translateY(0px);}
    100%{transform: translateY(10px);}
}
/* Header CSS End */

/* Nav Bar CSS Start */

/* Nav Bar Location CSS */
.nav-bar{
    top: 0;
    position: sticky;
    z-index: 2;
}

/* Nav Bar Style CSS */
.navbar{
    background-color: #000000;
}

/* Nav Bar Logo CSS */
.navbar-brand img{
    width: 50px;
}

/* Nav Bar Toggler */
.navbar-toggler{
    outline: none !important;
}

/* Nav Bar Toggler Icon */
.navbar-toggler .fa-bars{
    color: #fff;
    font-size: 35px;
}

/* Nav Bar Navigation Style */
.navbar-nav{
    float: right;
    text-align: right;
}

/* Nav Bar List Text CSS */
.nav-link{
    color: #fff !important;
}

/* Nav Bar CSS End */

/* About CSS Start */
.about{
    margin-top: -400px;
}

/* About Me Profile Picture CSS */
.profile-img{
    width: 100%;
    margin-bottom: 50px;
}

/* Skills p CSS */
.skills{
    padding-bottom: 30px;
}

/* Skills Bar p CSS */
.skills-bar p{
    margin-bottom: 6px;
    font-weight: 600;
}

/* Skills Bar Outline CSS */
.progress{
    border-radius: 16px !important;
    margin-bottom: 10px;
}

/* Skills Par Internal CSS */
.progress-bar{
    border-radius: 16px;
    background: #000 !important;
}

/* About CSS End*/

/* Resume CSS Start */
.resume{
    padding-top: 50px;
    padding-bottom: 30px;
    background: #f9f9f9;
}

/* Resume h3 CSS */
.resume h3{
    margin-bottom: 30px;
}

/* Resume List Style CSS */
.timeline{
    list-style-type: none;
    position: relative;
}

/* Resume List Line */
.timeline:before{
    content: '';
    background: #000;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 1;
}

/*Resume List Line Circles */
.timeline li:before{
    content: '';
    background: #fff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #000;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 1;
}

/* Resume List Items CSS */
.timeline li{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background: #fff;
}

/*Resume List Header Text*/
.timeline li h4{
    background-color: #000;
    padding: 5px 0 5px 20px;
    color: #fff;
    font-size: 15px;
}

/*Resume List Header Year*/
.timeline li h4 span{
    font-weight: bold;
    color: #ccc;
}

/* Resume CSS End */

/* School Projects CSS Start */
.school-projects{
    padding-top: 50px;
    padding-bottom: 50px;
}

/* School Projects Header CSS */
.school-projects h1{
    margin-bottom: 15px;
}

/* School Project Bok style CSS */
.school-projects-box{
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 20px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

/* School Project Icons CSS */
.school-projects-box .fa{
    margin: 0 10px;
    font-size: 35px;
}

/* School Project Box Titles CSS */
.school-projects-box span{
    margin: 3px;
    font-size: 20px;
    font-weight: bold;
}

/* School Project Box Descriptions CSS */
.school-projects-box p{
    font-size: 15px;
    margin-top: 20px;
    color: #777;
}

/* School Project Pox Hover Animation */
.school-projects-box:hover{
    background: #000;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 1s;
}

/* School Project Pox Hover Text Animation */
.school-projects-box:hover p{
    color: #fff;
}

/* School Projects CSS End */

/* Personal Projects CSS Start */
.personal-projects{
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Personal Projects Header CSS */
.personal-projects h1{
    margin-bottom: 15px;
}

/* Personal Project Bok style CSS */
.personal-projects-box{
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 20px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

/* Personal Project Icons CSS */
.personal-projects-box .fa{
    margin: 0 10px;
    font-size: 35px;
}

/* Personal Project Box Titles CSS */
.personal-projects-box span{
    margin: 3px;
    font-size: 20px;
    font-weight: bold;
}

/* Personal Project Box Descriptions CSS */
.personal-projects-box p{
    font-size: 15px;
    margin-top: 20px;
    color: #777;
}

/* Personal Project Pox Hover Animation */
.personal-projects-box:hover{
    background: #000;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 1s;
}

/* Personal Project Pox Hover Text Animation */
.personal-projects-box:hover p{
    color: #fff;
}

/* Personal Projects CSS End */

/* Professional Projects CSS Start */
.professional-projects{
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Professional Projects Header CSS */
.professional-projects h1{
    margin-bottom: 15px;
}

/* Professional Project Bok style CSS */
.professional-projects-box{
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 20px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

/* Professional Project Icons CSS */
.professional-projects-box .fa{
    margin: 0 10px;
    font-size: 35px;
}

/* Professional Project Box Titles CSS */
.professional-projects-box span{
    margin: 3px;
    font-size: 20px;
    font-weight: bold;
}

/* Professional Project Box Descriptions CSS */
.professional-projects-box p{
    font-size: 15px;
    margin-top: 20px;
    color: #777;
}

/* Professional Project Pox Hover Animation */
.professional-projects-box:hover{
    background: #000;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 1s;
}

/* Professional Project Pox Hover Text Animation */
.professional-projects-box:hover p{
    color: #fff;
}

/* Professional Projects CSS End */

/* Contact CSS Start */
.contact{
    padding-top: 50px;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(img/all/contactBackground.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

/* Contact Row Formatting CSS */
.contact .row{
    padding: 30px 10px;
    font-size: 22px;
}

/* Contact Icon CSS */
.contact .col-md-4 .fa{
    padding: 10px;
    font-size: 50px;
}

/* Contact Button CSS */
.contact .btn{
    padding: 10px 25px 10px 25px;
    margin: 5px;
    border-radius: 30px;
    border: 2px solid #fff;
    background: transparent;
}

/* Contact Button Focus CSS */
.contact .btn:focus{
    box-shadow: none !important;
}

/* Contact Button Hover CSS */
.contact .btn:hover{
    border: 2px solid #000 !important;
    background-color: #000 !important;
    transition: 0.3s;
}

.contact .btn .fa{
    margin-right: 10px;
}

/* Contact CSS END */

/* Footer CSS Start */
.footer{
    background: #000;
    height: 50px;
    margin-top: 50px;
    color: #fff;
    padding-top: 10px;
}

/* Footer CSS End */

/* Icons CSS Start */
.icons{
    padding-top: 250px;
    top: 50%;
    transform: translateY(-50%);
    position: sticky;
    z-index: 1;
    width: 80px;
}

/* Icons List CSS */
.icons ul{
    padding: initial;
}

/* Icons List Items CSS */
.icons ul li{
    height: 40px;
    width: 40px;
    list-style-type: none;
    padding-left: 12px;
    padding-top: 6px;
    margin-top: 5px;
    color: #fff;
    background: #000;
}

/* Icons List Items Hover Animation CSS */
.icons ul li:hover{
    padding-left: 30px;
    width: 80px;
    transition: .5s;
}

/* Icons CSS End */

/* Report CSS Start */
.report{
    padding-top: 50px;
    padding-bottom: 30px;
    background: #f9f9f9;
}

/* Report h3 CSS */
.report h3{
    margin-bottom: 30px;
}

/* Report List Style CSS */
.timeline{
    list-style-type: none;
    position: relative;
}

/* Report List Line */
.timeline:before{
    content: '';
    background: #000;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 1;
}

/*Report List Line Circles */
.timeline li:before{
    content: '';
    background: #fff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #000;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 1;
}

/* Report List Items CSS */
.timeline li{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background: #fff;
}

/*Report List Header Text*/
.timeline li h4{
    background-color: #000;
    padding: 5px 0 5px 20px;
    color: #fff;
    font-size: 15px;
}

/*Report List Header Year*/
.timeline li h4 span{
    font-weight: bold;
    color: #ccc;
}

/* Report Button CSS */
.report .btn{
    padding: 10px 25px 10px 25px;
    margin: 5px;
    border-radius: 30px;
    border: 2px solid #000;
    background: transparent;
    color: #000;
}

/* Report Button Focus CSS */
.report .btn:focus{
    box-shadow: none !important;
}

/* Report Button Hover CSS */
.report .btn:hover{
    border: 2px solid #fff !important;
    background-color: #fff !important;
    transition: 0.3s;
    color: #fff !important;
}

.report .btn .fa{
    margin-right: 10px;
}

/* Resume CSS End */

/* Photo Gallery CSS Start */
.photo-gallery{
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Photo Gallery Projects Header CSS */
.photo-gallery h1{
    margin-bottom: 15px;
}

/* Photo Gallery Bok style CSS */
.photo-gallery-box{
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 20px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

/* Photo Gallery Project Icons CSS */
.photo-gallery-box img{
    width: 250px;
    border: 2px solid #000000;
}

/* Photo Gallery Box Titles CSS */
.photo-gallery-box span{
    margin: 3px;
    font-size: 20px;
    font-weight: bold;
}

/* Photo Gallery Box Descriptions CSS */
.photo-gallery-box p{
    font-size: 15px;
    margin-top: 20px;
    color: #777;
}

/* Photo Gallery Box Hover Animation */
.photo-gallery-box:hover{
    background: #000;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 1s;
}

/* Photo Gallery Pox Hover Text Animation */
.photo-gallery-box:hover p{
    color: #fff;
}

/* Photo Gallery Projects CSS End */

/* Header PROJECT background CSS Start */
#header-project{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(img/projects/projectHeaderBackground.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* Header PROJECT background CSS END */